
<form class="w-50"(ngSubmit)="onSubmit(itemForm)" #itemForm="ngForm">
    <input name="product"
    placeholder="Producto"
    class="form-control m-3"
    [(ngModel)]="item.product"
    required minlength="5"
    #product="ngModel">


   @if (product.invalid && (product.dirty || product.touched)) {
        @if (product.errors!['required']){
            <div class="text-danger mx-3">
                Nombre de producto requerido!
            </div>

        }

        @if (product.errors!['minlength']){
            <div class="text-danger mx-3">
                Nombre de producto debe tener al menos 5 caracteres!.
            </div>

        }
   }

    <input name="price"
    type="number"
    placeholder="Precio"
    class="form-control m-3"
    [(ngModel)]="item.price"
    required min="10"
    #price="ngModel">

    @if (price.invalid && (price.dirty || price.touched)) {
        @if (price.errors!['required']){
            <div class="text-danger mx-3">
                Precio de producto requerido!
            </div>

        }

        @if (price.errors!['min']){
            <div class="text-danger mx-3">
                Precio del producto debe ser mayor o igual a 10!.
            </div>

        }
   }

    @if (price.errors!['minLength']){
        <div class="text-danger mx-3">
            Precio debe tener al menos 10 caracteres!.
        </div>

    }
    
    <input name="quantity"
    type="number"
    placeholder="Cantidad"
    class="form-control m-3"
    [(ngModel)]="item.quantity"
    required min="1"
    #quantity="ngModel">

    @if (quantity.invalid && (quantity.dirty || quantity.touched)) {
        @if (quantity.errors!['required']){
            <div class="text-danger mx-3">
                Cantidad de producto requerida!
            </div>

        }

        @if (quantity.errors!['min']){
            <div class="text-danger mx-3">
                Cantidad del producto debe ser mayor o igual a 1!.
            </div>

        }
   }

    <button class="btn btn-primary m-3" [disabled]="itemForm.invalid">
        Nuevo Item</button>
    

</form>